
*{
  /* background-color:rgba(28, 8, 119, 0.904); */
  background-color: rgba(15, 191, 245, 0.164); 
 /* background-image: linear-gradient(315deg, #100d25 50%, #775858 74%);  */
}
.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MyLinks{
 background-color: rgba(15, 12, 12, 0.061);
 width:fit-content;
border-radius: 9px;
margin: auto;

}
.classCard{
  background-color:rgba(45, 73, 44, 0.246);
  width: 300px;
  margin: 1em; 
  height: fit-content;
  padding: .4rem;
}
.classCard .card-header{
  text-align: center;
}
.card-body{
  text-align: center;
}

.button{
  width:120px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
 background-color: transparent;

}
.all{
  background-color: transparent;
  display: flex;
  width: fit-content;
  margin: auto;
  flex-wrap: wrap;
  font-family: Elephant;
  /* font-weight: 900; */
}
span{
  background-color: rgba(8, 226, 226, 0.267);
  padding: 0.5em;
  margin: auto;
  border :2px solid rgba(8, 226, 226, 0.267);
  /* border */
  border-radius : 50% 20%/10% 30%;
}
.mytimeago{ 
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.062);
  margin:.53rem auto;
  padding:1rem;
  outline: 2px solid rgb(223, 210, 210);
  background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 54%, #8f5e1d21 24%);
}