@import "../pagesCss/VariableScss/variables.scss";

.pages {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
        color: rgba(174, 209, 16, 0.924);
        margin-top: 85px;
        h1{
          background-color: transparent;
        }
}
