@import "../pagesCss/VariableScss/variables.scss";
@import "../pagesCss/VariableScss/mixin.scss";

.blog {
      display: flex;
      justify-content: center;
        align-items: center;
        flex-direction: column;
     //    height: calc(100vh - 85px);
     //    height: 100vh;
     //    color: rgba(13, 14, 11, 0.924);
     // background-color: red;
        margin-top: 85px;
}
form{
  background-color: transparent;
//   margin: auto;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  div{
     margin-top: 2em;
     margin-left: 2em;
     background-color: transparent;
//  display: flex;
    label{
     margin-left: 2.3em;
     display: block;
    }
  }
  textarea{
    border: none;
    outline: none;
    background-color: rgba(59,38,38,.443);
    padding: .4rem;
  }
  .btn_send{
       display: flex;
       justify-content: center;
       align-items: center;
       @include button_sendImage();
       .upload{
          background-color: rgba(0, 0, 0, 0.192);
          margin: 0;
	     // fill: $clr-silver-gain;
          width: 100%;
          height: 100%;
         
			&:hover{
				fill : $yelp;
				cursor: pointer;
		          background-color: $clr-black-5;
               //    .bi{
               //         background-color: $clr-black-5;
               //    }
			}
       }
          h5{
               background-color: transparent;
               color: $clr-coral;
               margin-left: .2em;
          } 

     }
}
.AllImages{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
	

  
.images{
     background-color: rgba(0, 0, 0, 0.02127);
     margin-top: 1rem;
     border-radius: 1rem;
     .images_card{
          padding: .7rem;
          background-color: transparent;
          margin: auto;

          .texto{
               background-color: transparent;
                       h1,h3{
                            width: 255px;
                            color: $clr-olive;
                             background-color: transparent;
                             text-align: center;
     }
          }
                  .img{
                    width: 150px;
                    margin: 0 auto;
                    border: .31px solid $clr-black-3;
                    border-radius: 5px;

                    img{
                         width: 100%;
                         border-radius: 5px;
                    }
               }
       
     }
}
.btn_D{
     display: flex;
     justify-content:center;
     margin-top: 1rem;
     background-color: transparent;
     .btn_delete{
     @include button_delete()
}
}

}