@import "../pagesCss/VariableScss/variables.scss";
@import "../pagesCss/VariableScss/mixin.scss";

.blog {
      display: flex;
      justify-content: center;
        align-items: center;
        flex-direction: column;
     //    height: calc(100vh - 85px);
     //    height: 100vh;
     //    color: rgba(13, 14, 11, 0.924);
     // background-color: red;
        margin-top: 85px;
}
form{
  background-color: transparent;
//   margin: auto;
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  div{
     margin-top: 2em;
     margin-left: 2em;
     background-color: transparent;
//  display: flex;
    label{
     margin-left: 2.3em;
     display: block;
    }
  }
  textarea{
    border: none;
    outline: none;
    background-color: rgba(59,38,38,.443);
    padding: .4rem;
  }
  .btn_send{
       display: flex;
       justify-content: center;
       align-items: center;
       @include button_sendImage();
       .upload{
          background-color: rgba(0, 0, 0, 0.192);
          margin: 0;
	     // fill: $clr-silver-gain;
          width: 100%;
          height: 100%;
         
			&:hover{
				fill : $yelp;
				cursor: pointer;
		          background-color: $clr-black-5;
               //    .bi{
               //         background-color: $clr-black-5;
               //    }
			}
       }
          h5{
               background-color: transparent;
               color: $clr-coral;
               margin-left: .2em;
          } 

     }
}