@import "../pagesCss/VariableScss/variables.scss";
@import "../pagesCss/VariableScss/mixin.scss";

/* Home page */
.home {
	// width: 90%;
	margin-top: 85px;
	width: 100%;
	height: 100vh;
}
.home_content {
	background-color: rgba(0, 0, 0, 0.041);
	width: 90%;
	padding: 1rem;
	margin: auto;
	border-radius: 6px;
}
.home_content h1,
.home_content p {
	background-color: transparent;
}
