@import "../pagesCss/VariableScss/variables.scss";
@import "../pagesCss/VariableScss/mixin.scss";

/* Home page */
.home {
	// width: 90%;

	width: 100%;
	 height: 100vh;   
	color: $clr-gold;
	display: flex;
	justify-content: center;
	align-items: center;

}
.home_content {
	width: 90%;
	height: calc(100vh - 143px);
	background-color: transparent;
	padding: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;

 h1{
	text-shadow: 1px 1px 10px $clr-black-1;
	background-color: transparent;
	text-align: center;
}
p{
	width: calc(80% - 1vh);
	text-align: center;
	background-color: transparent;
	text-shadow: 1px 1px 10px $clr-white-antique;
}
}