@import "../pagesCss/VariableScss/variables.scss";
@import "../pagesCss/VariableScss/mixin.scss";


.activeLink {
	color: #bb5757;
}
.login_page {
	width: 100%;
		// height: calc(100vh - 85.4px);
     height: 100vh;
	// margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	background-color: rgba(12, 14, 15, 0.829);
	width: 500px;
	display: flex;
	flex-direction: column;
	
	// justify-content: center;
	padding: 4em 1em 3em 1em;
	border-radius: 13px;
     text-align: center;
          h1 {
               background-color: transparent;
               margin: auto;
               padding-bottom: 0.2rem;
              
               }
      &:hover{
                    color: red;
                    font-weight:700
               }      
     .register_side{
          background-color: transparent;
          text-align: center;
          h3{
               background-color: rgba(173, 216, 230, 0.0159389);
               width: fit-content;
               margin: auto;
               border-radius: 5px;
			letter-spacing: .6px;
          }
		
     }    
	.line_top{
		width: 80%;
		height: .5px;
		background-color: $clr-gray-slate;
		margin: 2.3rem auto 1rem auto;
	}
	.line_bottom{
		width: 80%;
		height: .5px;
		background-color: $clr-gray-slate;
		margin: 1rem auto 3.1rem auto;
	}
	.social_media{
		width : 90%;
		margin: auto;
		background-color: transparent;
		display: flex;
		justify-content: space-around;
		align-items: center;
		// flex-direction: column;
		.movil{
			display: flex;
			background-color: transparent;
		}
		.social_text{
			background-color: transparent;
			color: $clr-olive-1;
		}
		.google{
			background-color: transparent;
			fill: $googlered;
			&:hover{
				fill : $yelp;
				cursor: pointer;
			}
		}
		.github{
			background-color: transparent;
			fill: $apple;
			&:hover{
				fill: $clr-gray-slate;
				cursor: pointer;
			}
		}
		.facebook{
			background-color: transparent;
			border-radius: 50%;
			fill: $facebookold;
			&:hover{
				fill: $tumblr;
				cursor: pointer;

			}
		}
		.bi{
			margin: 1rem;
			background-color: transparent;
		}
	
	}
	.login_span{
		background-color: $clr-cyan-dark;
		border-radius: 5px;
		border: none;
		outline: none;
		color: $clr-olive-1;
		&:hover{
			color: $clr-olive-3;
			outline-style: solid;
			outline-width: 2px;
			outline-color: $clr-black-5;
		}
	}
}

label {
	margin: auto;
	background-color: transparent;
	color: #f86a0cd0;
}

.email,
.password {
	background-color: transparent;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
}
.btn_login {
	@include button_login_regiter();
	
}
input {
	background-color: rgba(238, 223, 223, 0.384);
	outline: none;
	border: none;
	border-radius: 5px;
	height: 40px;
	padding: 0.5rem;
     &:focus{
          color: rgb(59, 41, 41);
     }
     &::placeholder{
          color: rgb(195, 188, 188);
     }
}

@media screen and (max-width: $movil){
	.login_page {
		height: 100vh;
		// background-color:red;
		.login{
			width: 90%;			
			border-radius: 10px;
			padding: 7.5em 2em 1em 2em;
		
		.social_media{
			flex-direction: column;
		}
		.login_span{
			margin-top: 1rem;
		}
		}
	}
	.email, .password {
		width: 100%;
	}
	input {
		padding-left: 2rem;
	}
	h6{
		font-size: 1.2rem;
		letter-spacing: 2px;
		font-family: 'Inconsolata';
		font-weight: 900;
	}
}