.pages {
      display: flex;
      justify-content: center;
        align-items: center;
        height: calc(100vh - 85px);
        color: rgba(174, 209, 16, 0.924);
        // width :auto;
        margin-top: 85px;
}
