
.activeLink{
     color : #ff0000;
}
.login_page{
     width: 100%;
     height: calc(100vh - 85.4px);
     display: flex;
}
.login{
     background-color: rgba(12, 14, 15, 0.829);
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     padding: 7em 1em;
     border-radius: 13px;
}
.login h1{
     background-color: transparent;
     margin: auto;
     padding-bottom: .2rem;
}
.login h1:hover{
    color: black;
}
label{
     margin: auto;
     background-color: transparent;
     color: #f86a0cd0;
}

.email, .password{
     background-color: transparent;
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin: auto;
}
.btn_login{
     margin: 1rem auto;
     width: fit-content;
     background-color: rgba(54, 54, 177, 0.425);
}
input{
     background-color: rgba(238, 223, 223, 0.384);
     outline: none;
     border: none;
     border-radius: 5px;
     height: 40px;
     padding:.5rem;
}
input::placeholder{
     color: rgb(231, 14, 14);

}
input:focus{
     color: white;
}

/* EachUser pages */
.each{
     background-color:rgba(0, 68, 255, 0.212);
}
.contenido{
     margin-top: 85px;
}
/* Home page */
.home{
     width: 90%;
     margin-top: 85px;
  width : 100%;
}
.home_content{
  background-color: rgba(0, 0, 0, 0.041);
     width:90%;
     padding: 1rem;
     margin: auto;
}
.home_content h1,
.home_content p{
     background-color: transparent;
}