.pages {
      display: flex;
      justify-content: center;
        align-items: center;
        height: 100vh;
        color: rgba(174, 209, 16, 0.924);
        width :auto;
}
.home{
  
  height: 100vh;
}